@tailwind base;
@tailwind components;
@tailwind utilities;

@import "Transitions";

//*:hover {
//  @apply outline-accent outline outline-1
//}
:root {
  --dark-grey: darkGrey;
  --color-text-secondary: darkGrey;
  --color-text: #ccd6f6;
  //--color-accent: #9a0087;
  //--color-accent: #64ffda;
  --color-accent: #8f0b64;

  --nav-height: 90px;
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);

}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  background-color: #0a192f;
  min-height: 100vh;
  scroll-behavior: smooth;
  font-family: "Roboto Mono", source-code-pro, Consolas, monospace;
}

//p {
//  @apply max-w-2xl text-sm;
//
//}

section {
  @apply mx-auto my-0 py-28;
}

h2.section-header {
  @apply text-xl w-auto mb-1
  after:block after:content-['']
  after:bg-slate-600 after:md:-top-2 after:bg-accent/75 after:top-0
}

#whoami-img-wrapper, .corner-border-accent {
  @apply block relative w-full rounded;
  @apply before:block before:absolute before:-z-20
  before:border-accent
  before:border-2 before:border-solid before:rounded-tl
  before:-top-2 before:-left-2
  hover:before:-top-3
  before:transition-all before:duration-200
  before:border-b-0 before:border-r-0;

  @apply after:block after:absolute after:-z-20
  after:border-accent
  after:border-2 after:border-solid after:rounded-br
  after:-bottom-2 after:-right-2
  hover:after:-bottom-3
  after:transition-all after:duration-200
  after:border-l-0 after:border-t-0;

  &.reversed {
    @apply before:border-l-0 before:border-r-2 before:-right-2 before:left-unset before:rounded-none before:rounded-tr;
    @apply after:border-r-0 after:border-l-2 after:right-unset after:-left-2 after:rounded-none after:rounded-bl
  }

  &:after, &:before {
    height: 33%;
    aspect-ratio: 1/1;
  }
}

.corner-border-accentm .corner-border-accent.reversed {
  @apply max-md:before:border-0;
  @apply max-md:after:border-0;
  .reversed {
    @apply before:border-l-0 before:border-r-2 before:-right-2 before:left-unset before:rounded-none before:rounded-tr;
    @apply after:border-r-0 after:border-l-2 after:right-unset after:-left-2 after:rounded-none after:rounded-bl
  }
}


.section-content {
  position: relative;

  &:before {
    @apply md:content-[""] md:w-0.5 md:h-full md:bg-accent/75 md:rotate-3 md:block md:absolute md:left-3 md:top-0
  }
}

@font-face {
  font-family: "Roboto Mono";
  src: url(fonts/RobotoMono-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 800;
}