.fadeUp-enter {
  opacity: 0;
  transform: translateY(5px);
  &.reversed {
  transform: translateY(-15px);

  }
}
.fadeUp-enter-active {
  opacity: 1;
  transform: translateX(0);
  @apply transition-all duration-300;
  //transition-property: all;
  //transition-duration: 300ms;
  transition-timing-function: var(--easing);

}
.fadeUp-exit {
  opacity: 1;
}
.fadeUp-exit-active {
  opacity: 0;
  transform: translateX(5px);
  transition-property: all;
  transition-timing-function: var(--easing);
  transition-duration: 300ms;


}